.externalContainer {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.6)
}

.mainContainer {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.parent {
	display: grid;
  width: 1490px;
  height: 591px;
}

.parent div {
  grid-row-start: 1;
  grid-column-start: 1;
}

.heroImageContainer {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-content: center;
  img {
    width: calc(1490px/var(--scale));
    height: calc(591px/var(--scale));
  }
}


.heroInsideContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: calc(591px/var(--scale));
}

.heroTitleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.textSmall {
  font-size: calc(72px/var(--scale));
  text-align: center;
  padding-bottom:calc(60px/var(--scale));
}

.buttonsText {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-bottom: calc(110px/var(--scale));;
}

.hiddenButton {
  width: calc(40px/var(--scale));
  height: calc(40px/var(--scale));
  transition: color 0.2s;
  &:hover {
    filter: invert(20%) brightness(105%) contrast(105%);
  }
}

.buttonG {
  width: calc(339px/var(--scale));
  height: calc(346px/var(--scale));
  display: flex;
  justify-content: center;
  align-content: center;
}

.divider1 {
  width: calc(90px/var(--scale));
}

.buttonO {
  width: calc(352px/var(--scale));
  height: calc(346px/var(--scale));
  display: flex;
  justify-content: center;
  align-content: center;
}

.linkHow {
  padding-top: calc(110px/var(--scale));
  padding-left: calc(80px/var(--scale));

}

.linkWhat {
  padding-top: calc(140px/var(--scale));
  padding-right: calc(70px/var(--scale));

}

.linkWho {
  padding-top: calc(55px/var(--scale));
  padding-right: calc(50px/var(--scale));

}

.divider2 {
  width: calc(80px/var(--scale));
}

.buttonD {
  width: calc(329px/var(--scale));
  height: calc(342px/var(--scale));
  display: flex;
  justify-content: center;
  align-content: center;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-left: 22px;
  padding-top: 20px;
}

.whitepaper {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #232323;
  color: black;
  font-size: calc(36px/var(--scale));
  padding: calc(8px/var(--scale)) calc(40px/var(--scale));
  border-radius: calc(30px/var(--scale));
  &:hover {
    background: white;
    color: black;
  }
}


