.mainContainer {
  width:100%;
  height:calc((100vh - var(--header-height))/var(--scale));
  display: flex;
  align-items: center;
  justify-content: center;
}

.phrase {
  font-size: calc(96px/var(--scale));
  display: flex;
  align-items: center;
  justify-content: center;
}

.phrasePart1 {
  width: calc(220px/var(--scale));
}

.phrasePart2 {
  color: var(--black);
  background: var(--white);
  padding-left: calc(10px/var(--scale));
  padding-right: calc(20px/var(--scale));
}


