.headerContainer {
    height:  80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerContent {
    max-width: 1120px;
    height: 5rem;
    margin: 0 auto;
    padding: 0 2rem;

    display: flex;
    align-items: center;
    justify-content: center;

    nav {
        width: 600px;
        display: flex;
        justify-content: space-between;
        a {
            display: flex;
            align-items: center;
            position: relative;
            transition: color 0.2s;
            &:hover {
              filter: invert(5%) brightness(105%) contrast(105%);
            }

            // &.active {
            //     color: var(--white);
            //     font-weight: bold;
            // }
        }
    }


}
