.headerContainer {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerContent {
    max-width: calc(1120px/var(--scale));
    height: 5rem;
    margin: 0 auto;
    padding: 0 2rem;

    display: flex;
    align-items: center;
    justify-content: center;

    nav {
        width: calc(600px/var(--scale));
        display: flex;
        justify-content: space-between;
        a {
            display: flex;
            align-items: center;
            position: relative;
            img {
              width: calc(50px/var(--scale));
              height: calc(50px/var(--scale));
            }

            transition: color 0.2s;
            &:hover {
              filter: invert(5%) brightness(105%) contrast(105%);
            }
        }
    }


}
